* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#logoImg {
    position: fixed;
    width: 60vw;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0s 0.3s;
}
.logoDate {
    text-align: center;
    font-family: "Pretendard-Regular";
    color: #AFAFAF;
    font-size: 2.5vw;
    letter-spacing: 0.5vw;
}

.FAQ {
    text-align: center;
    font-family: "Prata";
    color: white;
    font-size: 24px;
    letter-spacing: 0.5vw;
    margin-top: 53px;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(#7e727d, #484176, #39317a, #939390, #fcfbff);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 375px;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
}

.faq-section h2 {
    font-size: 20px;
    margin-bottom: 20px;
}

.faq-item {
    margin-bottom: 10px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
}

.faq-question {
    width: 100%;
    background-color: white;
    border: none;
    color: #413978;
    padding: 15px;
    text-align: left;
    cursor: pointer;
    font-size: 16px;
}

.faq-answer {
    background-color: white;
    padding: 10px;
    font-size: 14px;
    display: none;
    color: #413978;
}

.faq-answer.active {
    display: block;
}

.faq-item.active .faq-question {
    border-bottom: 1px solid #413978;
}