body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #3b2862, #2c2f74, #cbbce3);
    color: #cbbce3;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    padding-top: 40px;
    overflow-x: hidden;
    overflow-y: hidden; /* 전체 페이지 스크롤 방지 */
}

#menuTrigger {
    position: fixed;
    right: 10px;
    top: 10px;
    z-index: 1001; /* 햄버거 메뉴는 상단에 고정된 상태로 유지 */
}

#header {
    width: 100%;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50; /* 햄버거 메뉴보다 낮게 설정 */
    transition: z-index 0.3s;
}

font-face {
    font-weight: 400;
    font-family: "Pretendard-Regular";
    src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
      format("woff");
}


@media (max-width: 768px) {
    .FAQ {
        text-align: center;
        font-family: "Felixti";
        font-size: 3.5em;
        font-weight: 500;
        color: white;
        letter-spacing: 0.5vw;
        padding-bottom: 20px;
        z-index: 100; /* 햄버거 메뉴보다 낮게 설정 */
    }

    .container {
        width: 100%;
        max-width: 800px;
        border-radius: 20px;
        padding: 20px;
        position: relative;
        margin-top: 20%;
        overflow-y: auto;
        display: flex;
        flex-direction: column; /* 세로 방향으로 정렬 */
        align-items: center; /* 가로 중앙 정렬 */
        justify-content: center; /* 세로 중앙 정렬 */
        z-index: 1;
    }

    .faq-section {
        position: relative;
        overflow-y: auto; /* FAQ 섹션에만 스크롤 적용 */
        height: 80vh; /* 페이지 높이를 조정해서 섹션만 스크롤 가능하게 */
        z-index: 1;
    }

    .faq-item {
        margin-bottom: 20px;
        background-color: white;
        border-radius: 15px;
        overflow: hidden;
        padding: 10px;
    }    

    .faq-question {
        width: 100%;
        background-color: white;
        border: none;
        padding-left: 10px;
        color: #413978;
        padding-top: 10px;
        cursor: pointer;
        font-size: 15px;
        text-align: left;
    }

    .faq-answer {
        background-color: white;
        padding: 10px;
        font-size: 15px;
        padding-top: 7px;
        color: #413978;
        overflow: hidden;
        max-height: 0; /* 기본 상태에서 높이를 0으로 설정 */
        opacity: 0; /* 기본 상태에서 보이지 않도록 설정 */
        transition: max-height 0.5s ease-out, opacity 0.5s ease-out; /* 부드러운 전환 효과 */
        line-height: 1.6;
    }
    
    .faq-answer.active {
        opacity: 1; /* 활성화된 상태에서 보이도록 설정 */
        max-height: 1000px; /* 최대 높이를 충분히 크게 설정 */
        overflow-y: visible; /* 내용이 많으면 스크롤을 사용할 수 있도록 설정 */
    }

    .faq-item.active .faq-question {
        border-bottom: 1px solid #423B78;
    }

    #hambuger {
        width: 50px; /* 너비를 50px로 설정 */
        height: 50px; /* 높이를 50px로 설정 */
        position: fixed; /* 위치 고정 */
        top: 6%; /* 상단에서 10px 떨어짐 */
        left: 85%; /* 좌측에서 10px 떨어짐 */
    }
}

@media (min-width: 768px) {
    #logoImg {
        width: 50%; /* 로고의 부모 요소에 대한 너비 설정 */
    }

    #logoImg img {
        width: 100%; /* 내부의 img 태그에 너비 100% 설정 */
        height: auto; /* 비율 유지하면서 크기 조정 */
        margin-top: 15px;
    }

    .FAQ {
        text-align: center;
        font-family: "Felixti";
        font-size: 7vw;
        font-weight: 500;
        text-align: center;
        color: white;
        letter-spacing: 0.5vw;
        padding-bottom: 30px;
    }

    .container {
        width: 100%;
        max-width: 800px;
        border-radius: 20px;
        padding: 20px;
        position: relative;
        margin-top: 20%;
        overflow-y: auto;
        display: flex;
        flex-direction: column; /* 세로 방향으로 정렬 */
        align-items: center; /* 가로 중앙 정렬 */
        justify-content: center; /* 세로 중앙 정렬 */
    }

    .faq-section {
        position: relative;
        overflow-y: auto; /* FAQ 섹션에만 스크롤 적용 */
        height: 80vh; /* 페이지 높이를 조정해서 섹션만 스크롤 가능하게 */
        z-index: 1;
    }

    .faq-item {
        margin-bottom: 30px;
        background-color: white;
        border-radius: 20px;
        overflow: hidden;
        transition: max-height 0.4s ease-out;
        padding: 15px;
        width: 700px;
    }    

    .faq-question {
        width: 100%;
        background-color: white;
        border: none;
        color: #413978;
        padding: 7px;
        margin-top: 14px;
        cursor: pointer;
        font-size: 30px;
        text-align: left;
    }

    .faq-answer {
        background-color: white;
        padding: 10px;
        font-size: 30px;
        padding-top: 7px;
        color: #413978;
        overflow: hidden;
        max-height: 0; /* 기본 상태에서 높이를 0으로 설정 */
        opacity: 0; /* 기본 상태에서 보이지 않도록 설정 */
        transition: max-height 0.5s ease-out, opacity 0.5s ease-out; /* 부드러운 전환 효과 */
        line-height: 1.6;
    }

    .faq-answer.active {
        opacity: 1; /* 활성화된 상태에서 보이도록 설정 */
        max-height: 1000px; /* 최대 높이를 충분히 크게 설정 */
        overflow-y: visible; /* 내용이 많으면 스크롤을 사용할 수 있도록 설정 */
    }

    .faq-item.active .faq-question {
        border-bottom: 1px solid #423B78;
    }

    #hambuger {
        left: 82%;
        top: 4%;
        position: fixed;
        width: 8vw;
    }
}