/* 공통으로 적용되는 부분 */
font-face {
  font-weight: 400;
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
}
#booth_info {
  background-color: #2c2f74;
}
.div1 {
  background-color: red;
  display: inline-block;
}
.div2 {
  background-color: blue;
  display: inline-block;
}

/* 모바일 디바이스에서 적용되는 css -> 가로 해상도가 1024px(아이패드 프로) 보다 작은 화면에 적용  */
@media (max-width: 1024px) {
  .div1 {
    width: 100vw;
    height: 30vw;
  }
  .div2 {
    width: 100vw;
    height: 30vw;
  }
  .title{
    
  }
}

/* PC에서 적용되는 css -> 가로 해상도가 1025px 보다 작은 화면에 적용  */
@media (min-width: 1025px) {
  .div1 {
    width: 49vw;
    height: 50vw;
  }
  .div2 {
    width: 49vw;
    height: 50vw;
  }
}

/* PIESTA LOGO */
#logoImg {
  position: fixed;
  width: 60vw;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s ease-in-out, visibility 0s 0.3s;
}
.logoDate {
  text-align: center;
  font-family: "Pretendard-Regular";
  color: #afafaf;
  font-size: 2.5vw;
  letter-spacing: 0.5vw;
}
