/* 공통으로 적용되는 부분 */
@font-face {
  font-weight: 400;
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
}
@font-face {
  font-family: "Felixti"; /* 원하는 폰트 이름 */
  src: url("static/font/Felixti.ttf") format("truetype"); /* .ttf 파일 경로 */
  font-weight: normal;
  font-style: normal;
}

.filter-buttons {
  width: 70%;
  display: flex;
  /* border: 1px solid black; */
  margin: 3.5vh auto;
  justify-content: space-between;
}

.filter-buttons input[type="radio"] {
  display: none;
}

.filter-buttons label {
  font-family: "Felixti";
  margin: 1rem;
  padding: 0.3rem 0.5rem;
  size: 1.5rem;
  color: white;
  border-radius: 50%;
  box-shadow: 0rem 0rem 0.5rem 0.5rem #3b2862;
  background-color: #3b2862;
  border-radius: 20px;
  margin: 0 0.1vw -2vw 0.1vw;
  cursor: pointer;
}

.filter-buttons input[type="radio"]:checked + label {
  box-shadow: 0rem 0rem 0.5rem 0.5rem #f5f5f5;
  background-color: #f5f5f5;
  font-weight: bold;
  color: black;
}

.box {
  display: none;
  transition: background-color 0.3s ease, transform 0.2s ease; /* 부드러운 전환 효과 */
}
.box:hover {
  background-color: white;
  opacity: 1;
}

html,
body {
  height: 100%; /* html과 body의 높이를 100%로 설정 */
  width: 100%;
  margin: 0; /* 기본 여백 제거 */
  padding: 0;
  overflow: hidden;
}
body {
  background: linear-gradient(to bottom, #3b2862, #2c2f74, #cbbce3);
}
.box a {
  align-self: center;
  text-decoration: none;
  display: flex;
}
.box a:visited {
  color: #3b2862;
}
/* 모바일 디바이스에서 적용되는 css -> 가로 해상도가 1024px(아이패드 프로) 보다 작은 화면에 적용  */
@media (max-width: 767px) {
  .info .title {
    font-family: "Pretendard-Regular";
  }
  .starCanvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
  .info .title {
    font-family: "Pretendard-Regular";
  }
  /* 제목 BOOTH */
  .title {
    font-family: "Felixti";
    font-size: 7vw;
    font-weight: 500;
    text-align: center;
    margin-top: 35vw; /* 여백 조정 */
    position: relative; /* 다른 요소들과 겹치지 않게 상대 위치 */
    color: #ffffff;
  }

  /* 지도 영역 */
  #map {
    width: 90vw;
    height: 50vw;
    border-radius: 10px;
    overflow: hidden; /* 이 속성은 유지 */
    margin: 0 auto;
    margin-bottom: 5vw;
    margin-top: 5vw;
  }
  .box-content {
    display: flex;
    align-self: center;
    flex-direction: column; /* 제목과 설명을 세로로 배치 */
    margin-left: 5vw;
  }
  /* 박스 목록 */
  .box-container {
    display: flex;
    flex-direction: column;
    gap: 4vw;
    padding: 0 5vw;
    position: relative; /* 박스 위치 고정 */
    margin-top: 8vw;
    overflow-y: auto;
    max-height: 50vh; /* 화면 높이의 절반으로 제한 */
    padding-bottom: 23vh;
  }
  .box-container::-webkit-scrollbar {
    display: none;
  }
  .box-icon {
    margin-right: 10px; /* 아이콘과 텍스트 사이의 간격 조정 */
    font-size: 5vw; /* 아이콘 크기 */
    width: 4vw;
  }

  .box {
    background-color: rgba(255, 255, 255, 0.5);
    color: #3b2862;
    padding: 5vw;
    border-radius: 20px;
    text-align: left; /* 왼쪽 정렬 */
    font-size: 4vw;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex; /* 수평 정렬을 위한 flexbox 사용 */
    align-items: center; /* 아이콘과 텍스트를 수직으로 정렬 */
    height: 15vw;
    justify-content: space-between;
  }
  .box-title {
    font-weight: bold;
    font-size: clamp(0.88em, 2vw, 1.2em);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: "Pretendard-Regular";
  }

  .box-description {
    font-size: 3vw;
    color: #666666;
  }
  i {
    font-size: 7vw;
    margin-top: 1vw;
  }
  #hambuger {
    width: 50px; /* 너비를 50px로 설정 */
    height: 50px; /* 높이를 50px로 설정 */
    position: fixed; /* 위치 고정 */
    top: 6%; /* 상단에서 10px 떨어짐 */
    left: 85%; /* 좌측에서 10px 떨어짐 */
  }
  .filter-buttons {
    height: 5vw;
    width: 65vw;
    margin: 0 auto;
    margin-top: 7.5vw;
  }

  .heart {
    margin-left: 3vw;
    margin-top: 3vw;
    z-index: 100;
  }
}

/* PC에서 적용되는 css -> 가로 해상도가 1025px 보다 작은 화면에 적용  */
@media (min-width: 768px) and (max-width: 1025px) {
  .starCanvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
  #hambuger {
    left: 82%;
    top: 4%;
    position: fixed;
    width: 8vw;
  }

  /* 제목 BOOTH */
  .title {
    font-family: "Felixti";
    font-size: 3.5em;
    font-weight: 500;
    text-align: center;
    margin-top: 18vh; /* 여백 조정 */
    position: relative; /* 다른 요소들과 겹치지 않게 상대 위치 */
    color: #ffffff;
  }

  /* 지도 영역 */
  #map {
    width: 90vw;
    height: 45vw;
    border-radius: 10px;
    overflow: hidden; /* 이 속성은 유지 */
    margin: 0 auto;
    margin-bottom: 5vw;
    margin-top: 5vw;
  }
  .box-content {
    display: flex;
    align-self: center;
    flex-direction: column; /* 제목과 설명을 세로로 배치 */
    margin-left: 5vw;
    flex: 1;
  }
  /* 박스 목록 */
  .box-container {
    display: flex;
    flex-direction: column;
    gap: 4vw;
    padding: 0 5vw;
    position: relative; /* 박스 위치 고정 */
    margin-top: 8vw;
    overflow-y: auto;
    max-height: 50vh; /* 화면 높이의 절반으로 제한 */
    padding-bottom: 40vh;
  }
  .box-container::-webkit-scrollbar {
    display: none;
  }
  .box-icon {
    margin-right: 10px; /* 아이콘과 텍스트 사이의 간격 조정 */
    font-size: 5vw; /* 아이콘 크기 */
    width: 5vw;
  }

  .box {
    background-color: rgba(255, 255, 255, 0.5);
    color: #3b2862;
    padding: 5vw;
    border-radius: 20px;
    text-align: left; /* 왼쪽 정렬 */
    font-size: 4vw;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex; /* 수평 정렬을 위한 flexbox 사용 */
    align-items: center; /* 아이콘과 텍스트를 수직으로 정렬 */
    height: 14vw;
    justify-content: space-between;
  }
  .box-title {
    font-weight: bold;
    font-size: clamp(1em, 2vw, 1.5em);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: "Pretendard-Regular";
  }

  .box-description {
    font-size: 3vw;
    color: #666666;
    font-family: "Pretendard-Regular";
  }
  i {
    font-size: 7vw;
    margin-top: 1vw;
  }
  #hambuger {
    width: 50px; /* 너비를 50px로 설정 */
    height: 50px; /* 높이를 50px로 설정 */
    position: fixed; /* 위치 고정 */
    top: 6%; /* 상단에서 10px 떨어짐 */
    left: 85%; /* 좌측에서 10px 떨어짐 */
  }
  .filter-buttons {
    height: 3vw;
    width: 65vw;
    margin: 0 auto;
    margin-top: 6vw;
  }
  .filter-buttons label {
    font-family: "Felixti";
    padding: 0.3rem 0.5rem;
    size: 1.5rem;
    color: white;
    border-radius: 50%;
    box-shadow: 0rem 0rem 0.5rem 0.5rem #3b2862;
    background-color: #3b2862;
    border-radius: 20px;
    margin: 0 0.1vw -2vw 0.1vw;
    cursor: pointer;
    font-size: 2.5vw;
  }
  .heart {
    margin-left: 3vw;
    margin-top: 3vw;
    width: 7vw;
    z-index: 100;
  }
}

img.close-img {
  width: auto; /* 이 이미지에만 100% 규칙을 적용하지 않음 */
  height: auto; /* 필요에 따라 height도 설정 */
}

@media (min-width: 1026px) {
  #booth_info,
  .title,
  .content_box {
    display: none;
  }
}
