/* 공통으로 적용되는 부분 */
font-face {
  font-weight: 400;
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
}

html,
body {
  height: 100%; /* html과 body의 높이를 100%로 설정 */
  width: 100%;
  margin: 0; /* 기본 여백 제거 */
  padding: 0;
  overflow: hidden;
}
body {
  background: linear-gradient(to bottom, #3b2862, #2c2f74, #cbbce3);
}

/* 모바일 디바이스에서 적용되는 css -> 가로 해상도가 1024px(아이패드 프로) 보다 작은 화면에 적용  */
@media (max-width: 767px) {
  /* 상단 로고 */
  #logoImg {
    position: relative;
    width: 80vw;
    top: 5vw; /* 상단 여백 */
    left: 50%;
    transform: translateX(-50%);
  }

  /* 제목 BOOTH */
  .title {
    font-family: "Prata";
    font-size: 7vw;
    color: #ffffff;
    text-align: center;
    margin-top: 35vw; /* 여백 조정 */
    position: relative; /* 다른 요소들과 겹치지 않게 상대 위치 */
  }

  /* 지도 영역 */
  #map {
    width: 90vw;
    height: 70vw;
    border-radius: 10px;
    overflow: hidden; /* 이 속성은 유지 */
    margin: 0 auto;
    margin-bottom: 5vw;
    margin-top: 5vw;
  }

  /* 박스 목록 */
  .box-container {
    display: flex;
    flex-direction: column;
    gap: 4vw;
    padding: 0 5vw;
    position: relative; /* 박스 위치 고정 */
    margin-top: 10vw;
    overflow-y: auto;
    max-height: 50vh; /* 화면 높이의 절반으로 제한 */
  }

  .box {
    background-color: #ffffff;
    color: #3b2862;
    padding: 5vw;
    border-radius: 20px;
    text-align: center;
    font-size: 4vw;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    opacity: 0.5;
    height: 15vw;
    display: flex;
    justify-content: center; /* 수평 중앙 정렬 */
    align-items: center; /* 수직 중앙 정렬 */
    flex-direction: column;
  }
  #hambuger {
    width: 50px; /* 너비를 50px로 설정 */
    height: 50px; /* 높이를 50px로 설정 */
    position: fixed; /* 위치 고정 */
    top: 6%; /* 상단에서 10px 떨어짐 */
    left: 85%; /* 좌측에서 10px 떨어짐 */
  }
}

/* PC에서 적용되는 css -> 가로 해상도가 1025px 보다 작은 화면에 적용  */
@media (min-width: 768px) {
  .div1 {
    width: 49vw;
    height: 50vw;
  }
  .div2 {
    width: 49vw;
    height: 50vw;
  }
  #hambuger {
    left: 82%;
    top: 4%;
    position: fixed;
    width: 8vw;
  }
}

/* PIESTA LOGO */
#logoImg {
  position: fixed;
  width: 60vw;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s ease-in-out, visibility 0s 0.3s;
}
.logoDate {
  text-align: center;
  font-family: "Pretendard-Regular";
  color: #afafaf;
  font-size: 2.5vw;
  letter-spacing: 0.5vw;
}
