<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.cdnfonts.com/css/prata-2">
    <link rel="stylesheet" href="{{ url_for('static', path='css/init.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/main/home_page1.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/main/home_page2.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/main/home_page3.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/main/hamberger.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/main/logo.css') }}">
    <script>
        const jsonFilePath = "{{ url_for('static', path='json/bus_info.json') }}";
    </script>
    <script src="{{ url_for('static', path='js/main/modal.js') }}" defer></script>
    <script src="{{ url_for('static', path='js/main/toggle.js') }}" defer></script>
    <script src="{{ url_for('static', path='js/main/home.js') }}" defer></script>
    <script src="{{ url_for('static', path='js/main/hamberger.js') }}" defer></script>
    <script src="{{ url_for('static', path='js/main/logo.js') }}" defer></script>
    <script src="{{ url_for('static', path='js/main/lineupScroll.js') }}" defer></script>
    <script src="{{ url_for('static', path='js/main/selectCampus.js') }}" defer></script>
    <title>2024 GNU FIESTA</title>
</head>

<body>
    <!-- 로고 -->
    <div class="logoContainer">
        <div id="logoImg">
            <img src="{{ url_for('static', path='images/GNU_PIESTA_logo.svg')}}" alt="logo">
            <p class="logoDate">2024.10.16.WED ~ 10.18.FRI</p>
        </div>
    </div>

    <!-- 햄버거 버튼 -->
    <a class="menu-trigger" href="#">
        <span class="hambergerBread"></span>
        <span class="hambergerCenter"></span>
        <span class="hambergerBread"></span>
    </a>
    <div id="hambergerContents" class="hambergerContents">
        <div id="navContainer">
            <div id="hrefHOME" data-url="/home">HOME</div>
            <div id="hrefTIMETABLE" data-url="/timetable">TIMETABLE</div>
            <div id="hrefBOOTH" data-url="/booth/list">BOOTH</div>
            <div id="hrefCOMMENT" data-url="/comment">COMMENT</div>
            <div id="hrefFAQ" data-url="/faq">FAQ</div>
        </div>
        <div id="piestaWebHost">
            <a id="ohgam" href="https://www.instagram.com/gnu_5gam/">오감 총학생회</a>
            &nbsp;X&nbsp;
            <a id="mutsa" href="https://www.instagram.com/likelion_gnu/">멋쟁이사자처럼</a>
        </div>
    </div>


    <!-- Page1 포스터&디데이 -->
    <div id="home_poster">
        <!-- 포스터 들어올 자리 -->
        <div class="blankTop1">
            <div class="posterContainer">
                <img src="{{ url_for('static', path='images/PIESTA_poster.jpeg')}}" id="poster">
            </div>
            <div class="ddayTop">
                <div class="dday">2024.10.16 WED ~ 10.18 FRI</div>
                <div class="countdownDay">
                    <div class="dday">D -&nbsp;</div>
                    <div id="countdown"></div>
                </div>
            </div>
        </div>
    </div>


    <!-- Page2 라인업 -->
    <div id="home_lineup">
        <div class="blankTop2">
            <div class="lineUp">LINE UP</div>
            <div class="piestaDates">
                <div class="date" data-date="10/16">10/16</div>
                <div class="date" data-date="10/17">10/17</div>
                <div class="date" data-date="10/18">10/18</div>
            </div>

            <div class="bubbles">
                <img src="{{ url_for('static', path='images/bubble.svg')}}" alt="bubble" id="bubble1" />
                <img src="{{ url_for('static', path='images/bubble.svg')}}" alt="bubble" id="bubble2" />
            </div>

            <div class="lineupContainer">
                <div class="lineUpList" id="lineup/16">
                    <div id="RoyKim" class="artistContainer">
                        <img src="{{ url_for('static', path='images/16_artist1.png')}}" class="artist" />
                        <div class="artistName">ROY KIM</div>
                    </div>
                    <div id="Bol4" class="artistContainer">
                        <img src="{{ url_for('static', path='images/16_artist2.png')}}" class="artist" />
                        <div class="artistName">BOL 4</div>
                    </div>
                </div>

                <div class="lineUpList" id="lineup/17">
                    <div id="Unis" class="artistContainer">
                        <img src="{{ url_for('static', path='images/17_artist1.png')}}" class="artist" />
                        <div class="artistName">UNIS</div>
                    </div>
                    <div id="TripleS" class="artistContainer">
                        <img src="{{ url_for('static', path='images/17_artist2.png')}}" class="artist" />
                        <div class="artistName">TRIPLE S</div>
                    </div>
                    <div id="JoYuri" class="artistContainer">
                        <img src="{{ url_for('static', path='images/17_artist3.png')}}" class="artist" />
                        <div class="artistName">JO YURI</div>
                    </div>
                    <div id="Yena" class="artistContainer">
                        <img src="{{ url_for('static', path='images/17_artist4.png')}}" class="artist" />
                        <div class="artistName">YENA</div>
                    </div>
                </div>

                <div class="lineUpList" id="lineup/18">
                    <div id="BewhY" class="artistContainer">
                        <img src="{{ url_for('static', path='images/18_artist1.png')}}" class="artist" />
                        <div class="artistName">BEWH Y</div>
                    </div>
                    <div id="AshIsland" class="artistContainer">
                        <img src="{{ url_for('static', path='images/18_artist2.png')}}" class="artist" />
                        <div class="artistName">ASH ISLAND</div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Page3 공지&오시는길 -->
    <div id="home_info">
        <div class="notice titleBox">
            <img class="icon" src="{{ url_for('static', path='icons/announcement_icon.svg')}}" alt="">
            <div class="title">공지사항</div>
        </div>

        <!-- 공지 리스트 -->
        <ul id="noticeList">
            {% for notice in noticeAll %}
            <li onclick="showNoticeModal('{{ notice.category }}', '{{ notice.title }}', '{{ notice.content }}')">
                <div>
                    <div class="noticeCategory">[{{ notice.category }}]</div>
                    <div class="noticeTitle">{{ notice.title }}</div>
                    <div class="noticeBody">{{ notice.content }}</div>
                </div>
            </li>
            {% endfor %}
        </ul>

        <!-- 공지 모달 -->
        <div id="noticeModal" class="noticeModal">
            <div class="noticeModalContainer">
                <div class="noticeModalTitleBox">
                    <div id="noticeModalCategory"></div>
                    <div id="noticeModalTitle"></div>
                </div>
                <div id="noticeModalBody"></div>
            </div>
        </div>


        <!-- 오시는 길 title -->
        <div class="vehicle titleBox">
            <img class="icon" src="{{ url_for('static', path='icons/bus_icon.svg')}}" alt="">
            <div class="title">오시는 길 (버스)</div>
        </div>

        <div id="selectCampus">
            <img id="leftArrow" src="{{ url_for('static', path='icons/left-arrow.svg')}}" alt="">
            <div id="campusContainer">
                <span id="campus1" class="campus">경상국립대학교 칠암캠퍼스</span>
                <span id="campus2" class="campus">경상국립대학교 통영캠퍼스</span>
                <span id="campus3" class="campus">경상국립대학교 창원산학캠퍼스</span>
            </div>
            <img id="rightArrow" src="{{ url_for('static', path='icons/right-arrow.svg')}}" alt="">
        </div>

        <div id="campusInfo">
            <div id="busInfo1" class="busInfo">
                <div class="mapContainer">
                    <img class="map" src="{{ url_for('static', path='images/map_tongyeong.svg')}}" alt="" />
                </div>
                <div class="busInfoContainer">
                    <div>
                        <span onclick="showBusModalChilam('130')">130</span>
                        <span onclick="showBusModalChilam('132')">132</span>
                        <span onclick="showBusModalChilam('133')">133</span>
                        <span onclick="showBusModalChilam('140')">140</span>
                        <span onclick="showBusModalChilam('141')">141</span>
                        <span onclick="showBusModalChilam('142')">142</span>
                    </div>
                    <div>
                        <span onclick="showBusModalChilam('143')">143</span>
                        <span onclick="showBusModalChilam('144')">144</span>
                        <span onclick="showBusModalChilam('145')">145</span>
                        <span onclick="showBusModalChilam('146')">146</span>
                        <span onclick="showBusModalChilam('171')">171</span>
                        <span class="spacer"></span>
                    </div>
                </div>
            </div>
            <div id="busInfo2" class="busInfo">
                <div class="mapContainer">
                    <img class="map" src="{{ url_for('static', path='images/map_tongyeong.svg')}}" alt="" />
                </div>
                <div class="busInfoContainer">
                    <div>
                        <span>통영출발</span>
                        <span onclick="showBusModalTYCW('15:50', '통영', '통영출발')">15:50</span>
                        <span onclick="showBusModalTYCW('16:40', '통영', '통영출발')">16:40</span>
                        <span onclick="showBusModalTYCW('17:30', '통영', '통영출발')">17:30</span>
                        <span onclick="showBusModalTYCW('18:20', '통영', '통영출발')">18:20</span>
                        <span onclick="showBusModalTYCW('19:10', '통영', '통영출발')">19:10</span>
                    </div>
                    <div>
                        <span>진주출발</span>
                        <span onclick="showBusModalTYCW('17:43', '통영', '진주출발')">17:43</span>
                        <span onclick="showBusModalTYCW('18:33', '통영', '진주출발')">18:33</span>
                        <span onclick="showBusModalTYCW('19:23', '통영', '진주출발')">19:23</span>
                        <span onclick="showBusModalTYCW('20:23', '통영', '진주출발')">20:23</span>
                        <span onclick="showBusModalTYCW('06:53', '통영', '진주출발')">06:53</span>
                    </div>
                </div>
            </div>
            <div id="busInfo3" class="busInfo">
                <div class="mapContainer">
                    <img class="map" src="{{ url_for('static', path='images/map_tongyeong.svg')}}" alt="" />
                </div>
                <div class="busInfoContainer">
                    <div>
                        <span>창원출발</span>
                        <span onclick="showBusModalTYCW('16:50', '창원', '창원출발')">16:50</span>
                        <span onclick="showBusModalTYCW('18:00', '창원', '창원출발')">18:00</span>
                        <span onclick="showBusModalTYCW('18:30', '창원', '창원출발')">18:30</span>
                        <span onclick="showBusModalTYCW('19:00', '창원', '창원출발')">19:00</span>
                        <span onclick="showBusModalTYCW('21:00', '창원', '창원출발')">21:00</span>
                    </div>
                    <div>
                        <span>진주출발</span>
                        <span onclick="showBusModalTYCW('17:23', '창원', '진주출발')">17:23</span>
                        <span onclick="showBusModalTYCW('18:33', '창원', '진주출발')">18:33</span>
                        <span onclick="showBusModalTYCW('19:53', '창원', '진주출발')">19:53</span>
                        <span onclick="showBusModalTYCW('22:43', '창원', '진주출발')">22:43</span>
                        <span onclick="showBusModalTYCW('00:23', '창원', '진주출발')">00:23</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 칠암캠퍼스 버스 정보 모달 (시내버스) -->
    <div id="busModal1" class="busModal">
        <div class="busModalContent">
            <div class="busModalTitle">
                <div id="busNumber"></div>
                <div id="busChannel"></div>
            </div>
            <div class="busChannel1">
                <div class="subTitleBus">경상국립대학교 칠암캠퍼스 > 가좌캠퍼스</div>
                <div>
                    <span class="subCategory">첫차</span>
                    <span id="firstTimeFromStartPoint"></span>
                </div>
                <div>
                    <span class="subCategory">막차</span>
                    <span id="lastTimeFromStartPoint"></span>
                </div>
                <div>
                    <span class="subCategory">배차</span>
                    <span id="termsFromStartPoint"></span>
                </div>
            </div>
            <div class="busChannel2">
                <div class="subTitleBus">경상국립대학교 가좌캠퍼스 > 칠암캠퍼스</div>
                <div></div>
                <span class="subCategory">첫차</span>
                <span id="firstTimeFromEndPoint"></span>
            </div>
            <div>
                <span class="subCategory">막차</span>
                <span id="lastTimeFromEndPoint"></span>
            </div>
            <div>
                <span class="subCategory">배차</span>
                <span id="termsFromEndPoint"></span>
            </div>
        </div>
    </div>



    <!-- 통영, 창원캠퍼스 버스 정보 모달 (시외버스) -->
    <div id="busModal2" class="busModal">
        <div class="busModalContent">
            <div class="busModalTitle">
                <div id="busTime"></div>
                <div id="busChannel-TYCW"></div>
            </div>
            <div>
                <div>
                    <span class="subCategory">요금</span>
                    <span id="busExpense"></span>
                </div>
                <div>
                    <span class="subCategory">유형</span>
                    <span id="busType"></span>
                </div>
                <div>
                    <span class="subCategory">경유</span>
                    <span id="busPath"></span>
                </div>
                <div>
                    <span class="subCategory">배차</span>
                    <span id="busCompany"></span>
                </div>
            </div>
        </div>
    </div>
</body>

</html>