<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', path='css/init.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/main/home.css') }}">
    <script src="{{ url_for('static', path='js/main/home.js') }}" defer></script>
    <title>2024 GNU FIESTA</title>
</head>
<body>
    <!-- Page1 포스터&디데이 -->
    <div id="home_poster"></div>
    <!-- Page2 라인업 -->
    <div id="home_lineup"></div>
    <!-- Page3 공지&오시는길 -->
    <div id="home_info"></div>
</body>
</html>