<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', path='css/init.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', path='css/booth/booth_list.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', path='css/booth/map.css') }}"
    />
    <script
      src="{{ url_for('static', path='js/booth/booth_list.js') }}"
      defer
    ></script>
    <link
      rel="stylesheet"
      href="{{ url_for('static', path='css/main/hamberger.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', path='css/main/logo.css') }}"
    />
    <script
      src="{{ url_for('static', path='js/main/hamberger.js') }}"
      defer
    ></script>
    <script
      src="{{ url_for('static', path='js/main/logo.js') }}"
      defer
    ></script>
    <script
      src="https://kit.fontawesome.com/2b7b5f2141.js"
      crossorigin="anonymous"
    ></script>

    <title>2024 GNU FIESTA</title>
  </head>
  <body>
    <div id="booth_info">
      <!-- 로고 -->
      <div>
        <div id="logoImg">
          <img
            src="{{ url_for('static', path='images/GNU_PIESTA_logo.svg')}}"
            alt="logo"
          />
          <p class="logoDate">2024.10.16.WED ~ 10.18.FRI</p>
        </div>
      </div>

      <!-- 햄버거 버튼 -->
      <a class="menu-trigger" href="#">
        <span class="hambergerBread"></span>
        <span class="hambergerCenter"></span>
        <span class="hambergerBread"></span>
      </a>
      <div id="hambergerContents" class="hambergerContents">
        <div id="navContainer">
          <div id="hrefHOME" data-url="/home">HOME</div>
          <div id="hrefTIMETABLE" data-url="/timetable">TIMETABLE</div>
          <div id="hrefBOOTH" data-url="/booth/list">BOOTH</div>
          <div id="hrefCOMMENT" data-url="/comment">COMMENT</div>
          <div id="hrefFAQ" data-url="/faq">FAQ</div>
        </div>
        <div id="piestaWebHost">
          <a id="ohgam" href="https://www.instagram.com/gnu_5gam/"
            >오감 총학생회</a
          >
          &nbsp;X&nbsp;
          <a id="mutsa" href="https://www.instagram.com/likelion_gnu/"
            >멋쟁이사자처럼</a
          >
        </div>
      </div>
    </div>
    <!-- 타이틀 영역 -->
    <div class="title">BOOTH</div>
    <!-- 지도 영역 -->
    <div id="map"></div>
    <script
      type="text/javascript"
      src="//dapi.kakao.com/v2/maps/sdk.js?appkey=c7453c7dcb82e068c822a2ebc0c84cc4"
    ></script>
    <script>
      var container = document.getElementById("map");
      var options = {
        center: new kakao.maps.LatLng(35.1549465, 128.1026520),
        level: 3,
      };

      var map = new kakao.maps.Map(container, options);

      var positions = [
        {
          title: "총학생회 스탬프 부스 & 사랑의 나뭇잎",
          latlng: new kakao.maps.LatLng(35.154755, 128.103194),
          sub: "홍보 부스",
          num: 1,
        },
        {
          title: "스파이더맨",
          latlng: new kakao.maps.LatLng(35.154611, 128.103167),
          sub: "체험 부스",
          num: 2,
        },
        {
          title: "슈팅다트",
          latlng: new kakao.maps.LatLng(35.15455, 128.10315),
          sub: "체험 부스",
          num: 3,
        },
        {
          title: "스피드파워",
          latlng: new kakao.maps.LatLng(35.154481, 128.103124),
          sub: "체험 부스",
          num: 4,
        },
        {
          title: "슬라임 만들기",
          latlng: new kakao.maps.LatLng(35.15486, 128.102697),
          sub: "체험 부스",
          num: 5,
        },
        {
          title: "풍선 다트",
          latlng: new kakao.maps.LatLng(35.154745, 128.102687),
          sub: "체험 부스",
          num: 6,
        },
        {
          title: "오리 잡기",
          latlng: new kakao.maps.LatLng(35.154641, 128.102664),
          sub: "체험 부스",
          num: 7,
        },
        {
          title: "못 박기",
          latlng: new kakao.maps.LatLng(35.154544, 128.102644),
          sub: "체험 부스",
          num: 8,
        },
        {
          title: "총 학생회 본부석 & 간식나눔",
          latlng: new kakao.maps.LatLng(35.154751, 128.103499),
          sub: "체험 부스.",
          num: 9,
        },
        {
          title: "불빛 & 분필거리",
          latlng: new kakao.maps.LatLng(35.155385, 128.103449),
          sub: "체험 부스",
          num: 10,
        },
        {
          title: "인생네컷 부스",
          latlng: new kakao.maps.LatLng(35.154832, 128.103234),
          sub: "체험 부스",
          num: 11,
        },
        {
          title: "분필 & 사진존 & 사진인화",
          latlng: new kakao.maps.LatLng(35.155066, 128.103596),
          sub: "체험 부스",
          num: 12,
        },
        {
          title: "푸드 트럭",
          latlng: new kakao.maps.LatLng(35.15492, 128.10325),
          sub: "먹거리 판매 부스",
          num: 13,
        },
        {
          title: "푸드 트럭",
          latlng: new kakao.maps.LatLng(35.153436, 128.102732),
          sub: "먹거리 판매 부스",
          num: 13,
        },
        {
          title: "취식ZONE",
          latlng: new kakao.maps.LatLng(35.153819, 128.102968),
          sub: "부스 정보가 없습니다.",
          num: 14,
        },
        {
          title: "미니 바이킹",
          latlng: new kakao.maps.LatLng(35.154981, 128.102768),
          sub: "체험 부스",
          num: 15,
        },
        {
          title: "흡연 부스",
          latlng: new kakao.maps.LatLng(35.155342, 128.102634),
          sub: "부스 정보가 없습니다.",
          num: 16,
        },
        {
          title: "인권센터 & 진주 보건소",
          latlng: new kakao.maps.LatLng(35.155091, 128.101387),
          sub: "16일: 경상국립대학교 인권센터 17일: 진주 보건소",
          num: 17,
        },
        {
          title: "절즈 & 보라소라(생활협동조합)",
          latlng: new kakao.maps.LatLng(35.15506, 128.101568),
          sub: "16일: 절즈  17,18일 : 보라소라(생활협동조합)",
          num: 18,
        },
        {
          title: "글로엣",
          latlng: new kakao.maps.LatLng(35.155029, 128.101769),
          sub: "잡화 판매 부스",
          num: 19,
        },
        {
          title: "BOB!",
          latlng: new kakao.maps.LatLng(35.155004, 128.101942),
          sub: "먹거리 판매 부스",
          num: 20,
        },
        {
          title: "캉포즈 커피",
          latlng: new kakao.maps.LatLng(35.15498, 128.102192),
          sub: "먹거리 판매 부스",
          num: 21,
        },
        {
          title: "순간 잡화점",
          latlng: new kakao.maps.LatLng(35.15495, 128.102376),
          sub: "플리마켓 부스",
          num: 22,
        },
        {
          title: "대학일자리플러스센터, 링크사업단",
          latlng: new kakao.maps.LatLng(35.154966, 128.101341),
          sub: "홍보 부스",
          num: 23,
        },
        {
          title: "진주문화관광재단",
          latlng: new kakao.maps.LatLng(35.154933, 128.101577),
          sub: "홍보 부스",
          num: 24,
        },
        {
          title: "타로세이",
          latlng: new kakao.maps.LatLng(35.154905, 128.101766),
          sub: "체험 부스",
          num: 25,
        },
        {
          title: "당신의 심장에 붕어빵야",
          latlng: new kakao.maps.LatLng(35.154863, 128.102011),
          sub: "먹거리 판매 부스",
          num: 26,
        },
        {
          title: "UNAI ASPIRE 경상국립대지부",
          latlng: new kakao.maps.LatLng(35.154811, 128.102324),
          sub: "홍보 부스",
          num: 27,
        },
        {
          title: "뽀까뽀까",
          latlng: new kakao.maps.LatLng(35.154766, 128.102425),
          sub: "체험 부스",
          num: 28,
        },
        {
          title: "햄버거님 자몽소다 & 오야",
          latlng: new kakao.maps.LatLng(35.154608, 128.10239),
          sub: "먹거리 판매 부스",
          num: 29,
        },
        {
          title: "공대요리사  ",
          latlng: new kakao.maps.LatLng(35.154365, 128.102324),
          sub: "먹거리 판매 부스",
          num: 30,
        },
        {
          title: "아메리칸 셰프",
          latlng: new kakao.maps.LatLng(35.154288, 128.102303),
          sub: "먹거리 판매 부스",
          num: 31,
        },
        {
          title: "해피빌더스",
          latlng: new kakao.maps.LatLng(35.154133, 128.102254),
          sub: "체험 부스",
          num: 32,
        },
        {
          title: "수",
          latlng: new kakao.maps.LatLng(35.154001, 128.102243),
          sub: "플리마켓 부스",
          num: 33,
        },
        {
          title: "동그리",
          latlng: new kakao.maps.LatLng(35.153841, 128.102198),
          sub: "플리마켓 부스",
          num: 34,
        },
        {
          title: "사랑의 지누핑 캐리커처 & 오드아이즈 게코",
          latlng: new kakao.maps.LatLng(35.153632, 128.102141),
          sub: "체험 부스",
          num: 35,
        },
        {
          title: "WIDE 패션동아리",
          latlng: new kakao.maps.LatLng(35.1534, 128.102103),
          sub: "플리마켓 부스",
          num: 36,
        },
        {
          title: "방씨네 츄러스",
          latlng: new kakao.maps.LatLng(35.154775, 128.102618),
          sub: "먹거리 판매 부스",
          num: 37,
        },
        {
          title: "경대 요리사",
          latlng: new kakao.maps.LatLng(35.154631, 128.102597),
          sub: "먹거리 판매 부스",
          num: 38,
        },
        {
          title: "방울방울 CAFE",
          latlng: new kakao.maps.LatLng(35.154451, 128.102558),
          sub: "먹거리 판매 부스",
          num: 39,
        },
        {
          title: "칠차삼정",
          latlng: new kakao.maps.LatLng(35.154285, 128.10252),
          sub: "먹거리 판매 부스",
          num: 40,
        },
        {
          title: "다정",
          latlng: new kakao.maps.LatLng(35.154087, 128.102492),
          sub: "체험 부스",
          num: 41,
        },
        {
          title: "공군 학군단",
          latlng: new kakao.maps.LatLng(35.153944, 128.102464),
          sub: "홍보 부스",
          num: 42,
        },
        {
          title: "은삼이네",
          latlng: new kakao.maps.LatLng(35.153804, 128.102432),
          sub: "플리마켓 부스",
          num: 43,
        },
        {
          title: "그릴자유",
          latlng: new kakao.maps.LatLng(35.153557, 128.102387),
          sub: "체험 부스",
          num: 44,
        },
        {
          title: "Polaroid in love",
          latlng: new kakao.maps.LatLng(35.153331, 128.102401),
          sub: "체험 부스",
          num: 45,
        },
        {
          title: "서부 해바라기센터 & 농림축산본부 & 너나누리장애학생지원센터",
          latlng: new kakao.maps.LatLng(35.155012, 128.102593),
          sub: "홍보 부스",
          num: 46,
        },
      ];

      var overlays = []; // 오버레이 배열

      // 마커와 오버레이 생성
      for (var i = 0; i < positions.length; i++) {
        var marker = new kakao.maps.Marker({
          map: map,
          position: positions[i].latlng,
          title: positions[i].title,
          clickable: true,
        });

        var content =
          '<div class="wrap" style="display:none;">' +
          '    <div class="info">' +
          '        <div class="title">' +
          positions[i].title +
          '            <div class="close" onclick="closeOverlay()" title="닫기"></div>' +
          "        </div>" +
          '        <div class="body">' +
          '            <div class="desc">' +
          positions[i].sub +
          "            </div>" +
          "        </div>" +
          "    </div>" +
          "</div>";

        var overlay = new kakao.maps.CustomOverlay({
          content: content,
          map: map,
          position: marker.getPosition(),
          zIndex: 500, 

        });

        overlays.push({ overlay: overlay, content: content });

        kakao.maps.event.addListener(
          marker,
          "click",
          (function (overlay, content, markerPosition) {
            return function () {
              // 지도 중심 계산하는거 추가햇슴
              var newCenterPosition = new kakao.maps.LatLng(
                markerPosition.getLat() + 0.00025, 
                markerPosition.getLng()
              );
              map.setCenter(newCenterPosition);

              overlays.forEach(function (item) {
                var updatedContent = item.content.replace(
                  'style="display:block;"',
                  'style="display:none;"'
                );
                item.overlay.setContent(updatedContent);
                item.content = updatedContent;
              });

              var updatedContent = content.replace(
                'style="display:none;"',
                'style="display:block;"'
              );
              overlay.setContent(updatedContent);
            };
          })(overlay, content, marker.getPosition()) // 여기도 getPosition 추가했슴
        );
      }

      function closeOverlay() {
        overlays.forEach(function (item) {
          var updatedContent = item.content.replace(
            'style="display:block;"',
            'style="display:none;"'
          );
          item.overlay.setContent(updatedContent);
          item.content = updatedContent;
        });
      }
    </script>

    <div class="filter-buttons">
      <input type="radio" id="date-16" name="date" value="10.16" checked />
      <label for="date-16">10.16</label>

      <input type="radio" id="date-17" name="date" value="10.17" />
      <label for="date-17">10.17</label>

      <input type="radio" id="date-18" name="date" value="10.18" />
      <label for="date-18">10.18</label>
    </div>
    <div class="box-container" id="booth-list">
      {% for booth in booths %}
      <div
        class="box"
        data-date="{% if booth.is_operating_on_16th %}10.16 {% endif %}{% if booth.is_operating_on_17th %}10.17 {% endif %}{% if booth.is_operating_on_18th %}10.18 {% endif %}"
      >
        <a
          href="{{ url_for('get_booth_detail', booth_name=booth.booth_name | urlencode) }}"
        >
          <div class="box-icon">
            <i
              class="{% if booth.booth_category == '먹거리 판매 부스' %}fa-solid fa-utensils {% elif booth.booth_category == '플리마켓 부스' %}fa-solid fa-shop {% elif booth.booth_category == '체험 부스' %}fa-solid fa-gamepad {% elif booth.booth_category == '홍보 부스' %}fa-solid fa-bullhorn {% elif booth.booth_category == '잡화 판매 부스' %}fa-solid fa-gift {% else %}fa-solid fa-question{% endif %}"
            ></i>
          </div>
          <div class="box-content">
            <p class="box-title">{{ booth.booth_name }}</p>
            <p class="box-description">{{ booth.booth_category }}</p>
          </div>
        </a>
        <div
          class="heart"
          onclick="toggleHeart('{{ booth.booth_name | urlencode }}')"
        >
          <img
            id="heartImage_{{ booth.booth_name | urlencode }}"
            src="/static/images/heart_default.png"
            alt=""
          />
        </div>
      </div>
      {% endfor %}
    </div>
  </body>
</html>
