<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Prata' rel='stylesheet'><!-- BOOTH - Prata font 적용위해 -->
    <link rel="stylesheet" href="/static/css/booth/booth_detail.css">
    <script src="https://kit.fontawesome.com/c3566586b6.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <div id="logoImg">
        <img src="/static/images/GNU_PIESTA_logo.svg">
        <p class="logoDate">2024.10.16.WED ~ 10.18.FRI</p>
    </div>
<div class="title">
    <h3>BOOTH</h3> <!-- 어차피 윤성님이랑 통일 시켜야함 -->
</div>
<div class="content_box scrollable">
    <div>
        <div class="ff sb booth_tt">
            <div class="booth_name">
                <!-- <img src="" alt="booth_icon"> --><!-- fontawesome 아이콘이 더 나은가 싶기도 해서-->
                <h3><i class="fa-solid fa-utensils"></i>식품공작소</h3>
                <div class="booth_info">
                    <p><i class="fa-solid fa-circle"></i><span>식품공학과</span>|<a href=""><i class="fa-brands fa-instagram"></i></a></p>
                </div>
            </div>
            <div class="heart">
                <img src="/static/images/heart_default.png" alt="">
            </div>
        </div>
        
    </div>
    <section class="booth_detail booth_desc">
        <div class="line-wrapper">
            <h4>부스 소개</h4><div class="line"></div>
        </div>
        <p>식품공작소는 경상국립대 식품공학과 학생들이 직접 기획하고 운영하는 부스입니다. 사람과 동물을 위한 다양한 식품을 고민하고 연구하는 이곳에서, 이번 대동제를 맞아 소개하는 특별한 제품들을 만나보세요! 😄</p>
    </section>
    <section class="booth_detail booth_menu">
        <div class="line-wrapper">
            <h4>부스 메뉴</h4><div class="line"></div>
        </div>
        <div class="menu_box">
            <p>소떡소떡</p>
            <div class="separator"></div> <!-- 점선 구분선 추가 -->
            <p>3,500원</p>
        </div>
        <div class="menu_box">
            <p>소떡소떡</p>
            <div class="separator"></div> <!-- 점선 구분선 추가 -->
            <p>3,500원</p>
        </div>
        <div class="menu_box">
            <p>소떡소떡</p>
            <div class="separator"></div> <!-- 점선 구분선 추가 -->
            <p>3,500원</p>
        </div>
    </section>
    <section class="booth_detail booth_time">
        <div class="line-wrapper">
            <h4>위치 및 운영 시간</h4><div class="line"></div>
        </div>
        <p>    
            <i class="fa-solid fa-circle"></i>
            위치 : <span>452동과 교양동 사이 오르막</span>
        </p>
        <p>
            <i class="fa-solid fa-circle"></i>
            운영시간 : <span>11:00 ~ 16:00</span>
        </p>
    </section>
</div>
</body>
</html>