<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Timetable</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/timetable/timetable.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/main/logo.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/main/hamberger.css') }}">
    <script src="{{ url_for('static', path='js/timetable/timetable.js') }}" defer></script>
    <script src="{{ url_for('static', path='js/main/hamberger.js') }}" defer></script>
    <script src="{{ url_for('static', path='js/main/logo.js') }}" defer></script>
</head>
<body>
  <!-- 로고 -->
  <div>
    <div id="logoImg">
        <img src="{{ url_for('static', path='images/GNU_PIESTA_logo.svg')}}" alt="logo">
        <p class="logoDate">2024.10.16.WED ~ 10.18.FRI</p>
    </div>
  </div>

<!-- 햄버거 버튼 -->
  <a class="menu-trigger" href="#">
    <span class="hambergerBread"></span>
    <span class="hambergerCenter"></span>
    <span class="hambergerBread"></span>
  </a>
  <div id="hambergerContents" class="hambergerContents">
    <div id="navContainer">
        <div id="hrefHOME" data-url="/home">HOME</div>
        <div id="hrefTIMETABLE" data-url="/timetable">TIMETABLE</div>
        <div id="hrefBOOTH" data-url="/">BOOTH</div>
        <div id="hrefCOMMENT" data-url="/comment">COMMENT</div>
        <div id="hrefFAQ" data-url="faq">FAQ</div>
    </div>
    <div id="piestaWebHost">
        <a id="ohgam" href="https://www.instagram.com/gnu_5gam/">오감 총학생회</a>
        &nbsp;X&nbsp;
        <a id="mutsa" href="https://www.instagram.com/likelion_gnu/">멋쟁이사자처럼</a>
    </div>
  </div>
<!-- ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ 로고 및 햄버거 -->
    <header class="header">
      <h1>Time Table</h1>
     </header>

  <div class="timetable">
    <div class="times">
        <div class="time-slot" style="grid-row: 1 / 2;"><span>14:00</span></div>
        <div class="half-hour" style="grid-row: 2 / 3;"><span>30</span></div>
        <div class="time-slot" style="grid-row: 3 / 4;"><span>15:00</span></div>
        <div class="half-hour" style="grid-row: 4 / 5;"><span>30</span></div>
        <div class="time-slot" style="grid-row: 5 / 6;"><span>16:00</span></div>
        <div class="half-hour" style="grid-row: 6 / 7;"><span>30</span></div>
        <div class="time-slot" style="grid-row: 7 / 8;"><span>17:00</span></div>
        <div class="half-hour" style="grid-row: 8 / 9;"><span>30</span></div>
        <div class="time-slot" style="grid-row: 9 / 10;"><span>18:00</span></div>
        <div class="half-hour" style="grid-row: 10 / 11;"><span>30</span></div>
        <div class="time-slot" style="grid-row: 11 / 12;"><span>19:00</span></div>
        <div class="half-hour" style="grid-row: 12 / 13;"><span>30</span></div>
        <div class="time-slot" style="grid-row: 13 / 14;"><span>20:00</span></div>
        <div class="half-hour" style="grid-row: 14 / 15;"><span>30</span></div>
        <div class="time-slot" style="grid-row: 15 / 16;"><span>21:00</span></div>
        <div class="half-hour" style="grid-row: 16 / 17;"><span>30</span></div>
        <div class="time-slot" style="grid-row: 17 / 18;"><span>22:00</span></div>
    </div>

      <!-- Day 1: OCT 16, WED -->
      <div class="day-column">
          <div class="day">OCT 16, WED</div>
          <div class="events-day">
            <div class="event" id="day1" style="grid-row: 10 / 13;" onclick="showPopup('피지컬X & 비주얼 쇼', '18:30 ~ 20:00', '오프닝')">
                <span class="event-time">18:30 ~ 20:00</span> <!-- 시간 표시 -->
                <img src="icon.png" alt="icon" class="icon"> <!-- 아이콘 추가 -->
                피지컬X & 비주얼 쇼 <!-- 이벤트 이름 -->
              </div>
            <div class="event" id="day1" style="grid-row: 13 / 14;" onclick="showPopup('피지컬X & 비주얼 쇼', '18:30 ~ 20:00', '오프닝')">
                <span class="event-time">18:30 ~ 20:00</span> <!-- 시간 표시 -->
                <img src="icon.png" alt="icon" class="icon"> <!-- 아이콘 추가 -->
                개회식 <!-- 이벤트 이름 -->
              </div>
          </div>
      </div>

      <!-- Day 2: OCT 17, THU -->
      <div class="day-column">
          <div class="day">OCT 17, THU</div>
          <div class="events-day">
              <div class="event" id="day2" style="grid-row: 1 / 6;" onclick="showPopup('미스터 개척', '14:00 ~ 19:00')">
                <span class="event-time">21:00 ~ 22:00</span> <!-- 시간 표시 -->
                <img src="icon.png" alt="icon" class="icon"> <!-- 아이콘 추가 -->
                미스터 개척 <!-- 이벤트 이름 -->
              </div>
              <div class="event" id="day2" style="grid-row: 8 / 9;" onclick="showPopup('스페셜 게스트', '15:30 ~ 16:00')">
                <span class="event-time">21:00 ~ 22:00</span> <!-- 시간 표시 -->
                <img src="icon.png" alt="icon" class="icon"> <!-- 아이콘 추가 -->
                스페셜 게스트 <!-- 이벤트 이름 -->
               </div>
              <!-- <div class="event" id="day2" style="grid-row: 1 / 6;" onclick="showPopup('미스터 개척', '14:00 ~ 19:00')">미스터 개척</div> -->
              <!-- <div class="event" id="day2" style="grid-row: 9 / 10;" onclick="showPopup('스페셜 게스트', '21:00 ~ 22:00')">스페셜 게스트</div> -->
          <!-- </div> -->
          </div>
      </div>

      <!-- Day 3: OCT 18, FRI -->
      <div class="day-column">
          <div class="day">OCT 18, FRI</div>
          <div class="events-day">
              <div class="event" id="day3" style="grid-row: 1 / 2;" onclick="showPopup('스페셜 게스트', '15:30 ~ 16:00')">
                <span class="event-time">14:00 ~ 15:00</span> <!-- 시간 표시 -->
                <img src="icon.png" alt="icon" class="icon"> <!-- 아이콘 추가 -->
                소울 <!-- 이벤트 이름 -->
               </div>
              <div class="event" id="day3" style="grid-row: 3 / 4;" onclick="showPopup('스페셜 게스트', '15:30 ~ 16:00')">
                <span class="event-time">16:00 ~ 17:00</span> <!-- 시간 표시 -->
                <img src="icon.png" alt="icon" class="icon"> <!-- 아이콘 추가 -->
                다운타운 <!-- 이벤트 이름 -->
               </div>
              <div class="event" id="day3" style="grid-row: 5 / 6;" onclick="showPopup('스페셜 게스트', '15:30 ~ 16:00')">
                <span class="event-time">18:00 ~ 19:00</span> <!-- 시간 표시 -->
                <img src="icon.png" alt="icon" class="icon"> <!-- 아이콘 추가 -->
                베이비 스트링스 <!-- 이벤트 이름 -->
               </div>
              <div class="event" id="day3" style="grid-row: 7 / 8;" onclick="showPopup('스페셜 게스트', '15:30 ~ 16:00')">
                <span class="event-time">20:00 ~ 21:00</span> <!-- 시간 표시 -->
                <img src="icon.png" alt="icon" class="icon"> <!-- 아이콘 추가 -->
                불꽃 놀이 <!-- 이벤트 이름 -->
               </div>
              <div class="event" id="day3" style="grid-row: 8 / 9;" onclick="showPopup('스페셜 게스트', '15:30 ~ 16:00')">
                <span class="event-time">21:00 ~ 22:00</span> <!-- 시간 표시 -->
                <img src="icon.png" alt="icon" class="icon"> <!-- 아이콘 추가 -->
                스페셜 게스트 <!-- 이벤트 이름 -->
               </div>
              <!-- <div class="event"  id="day3" style="grid-row: 2 / 3;" onclick="showPopup('소울', '14:00 ~ 15:00')">소울</div>
              <div class="event"  id="day3" style="grid-row: 4 / 5;" onclick="showPopup('다운타운', '15:30 ~ 16:30')">다운타운</div>
              <div class="event"  id="day3" style="grid-row: 5 / 6;" onclick="showPopup('베이비 스트링스', '17:00 ~ 18:00')">베이비 스트링스</div>
              <div class="event"  id="day3" style="grid-row: 7 / 8;" onclick="showPopup('불꽃놀이', '18:30 ~ 20:00')">불꽃놀이</div>
              <div class="event"  id="day3" style="grid-row: 9 / 10;" onclick="showPopup('스페셜 게스트', '21:00 ~ 22:00')">스페셜 게스트</div> -->
          </div>
      </div>
  </div>

          
<!-- Popup -->
<div id="popup" class="popup">
  <div class="popup-content">
    <div class="popup-left">
      <img class="event-icon" alt="icon">
      <span id="popup-title"></span>
      <span id="popup-time"></span>
    </div>
    <div class="popup-right">
      <span id="popup-detail"></span>
      <span class="close-btn" onclick="closePopup()">&times;</span>
    </div>
  </div>
</div>
</body>
</html>
