font-face {
  font-family: Prata;
}

.blankTop1 {
  display: flex;
  flex-direction: column;
  margin-top: 10vh;
}

.posterContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 5vh;
}

.poster {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35vh;
}

.ddayTop {
  display: flex;
  justify-content: end;
  font-family: Prata;
  align-items: end;
  flex-direction: column;
  z-index: 1;
}

#dday {
  font-size: 6vh;
  background: linear-gradient(to right top, #861657, #ffa69e);
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-stroke: 0.5px white;
}

#countdown {
  z-index: 1;
  color: white;
  font-size: 10rem;
  background: linear-gradient(to right top, #861657, #ffa69e);
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-stroke: 1px white;
}
