font-face {
  font-weight: 400;
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
}

div,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}


/* 휴대폰 사이즈 */
@media (max-width: 767px) {
  #home_poster,
  #home_lineup,
  #home_info {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(#3b2862, #2c2f74 25%, #999999);
  }



  /* 하위 카테고리 타이틀 */
  .titleBox {
    display: flex;
    align-items: center;
    position: relative;
    margin-left: 8vw;
  }
  .icon {
    height: 1.8em;
    width: auto;
    margin-right: 4vw;
  }
  .notice {
    margin-top: 18vh;
  }
  .vehicle {
    margin-top: 2vh;
  }
  .title {
    font-size: 1.5em;
    font-weight: bold;
    background: linear-gradient(to bottom, #ffffff, #ffe2bc);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    text-shadow: 0px 2px 4px rgba(255, 226, 188, 0.5);
  }



  /* 공지사항 리스트 */
  #noticeList {
    overflow-x: scroll;
    display: flex;
    margin: 4vw 8vw;
    height: 12vh;
    scrollbar-width: none;
  }
  
  #noticeList::-webkit-scrollbar {
    display: none;
  }
  
  #noticeList > li {
    width: 40vw;
    height: fit-content;
    background-color: rgba(217, 217, 217, 0.5);
    border-radius: 10px;
    margin-right: 4vw;
    flex: 0 0 40vw;
    padding: 2vw;
  }
  
  .noticeCategory {
    font-size: 1em;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #ffffff;
  }
  
  .noticeTitle {
    font-size: 1.1em;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #ffffff;
  }
  
  .noticeBody {
    font-size: 0.8em;
    color: #dfdfdf;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    white-space: normal;
  }



  /* 오시는 길 */
  #selectCampus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80vw;
    overflow: hidden;
    margin: 0 auto;
  }

  #campusContainer {
    display: flex;
    width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
  }

  .campus {
    min-width: 100%;
    text-align: center;
    padding: 20px;
    color: white;
    font-size: 1.2em;
  }

  #leftArrow, #rightArrow {
    width: 5vw;
    cursor: pointer;
  }

  .busInfo {
    height: fit-content;
    width: 80vw;
    transform: translate(-50%, -50%);
    position: relative;
    top: 50%;
    left: 50%;
  }
  .mapContainer {
    height: 53vw;
    width: 100%;
  }
  .mapContainer > img {
    height: 100%;
    width: 100%;
    border-radius: 5px;
  }
  .busInfoContainer {
    display: flex; 
    flex-direction: column; 
    gap: 1vw;
    margin-bottom: 2vw;
    margin-top: 2vw;
  }
  .busInfoContainer > div {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    width: 100%; 
  }

  .busInfoContainer > div > span {
    text-align: center; 
    display: inline-block; 
    min-width: 10vw; 
    color: #FFFFFF; 
  }

  .busInfoContainer > div span:last-child {
    max-width: 10vw; 
  }

  .spacer {
    flex-grow: 1; 
  }


  /* 모달 */
  .noticeModal, .busModal {
    display: none; 
    position: fixed;
    z-index: 1000;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); 
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .noticeModalContainer, .busModalContent {
    background-color: rgba(255, 255, 255, 1); 
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-height: 70vh;
    overflow-y: auto;
    z-index: 1010; 
  }

  .noticeModalTitleBox {
    color: #58437c;
    font-size: 1.4em;
    font-weight: bold;
    margin-bottom: 2.5vh;
  }

  .noticeModalBody {
    line-height: 1.6em;
    color: #6d6d6d;
  }

  .busModalTitle {
    margin-bottom: 1em;
  }
  .busModalTitle > div {
    color: #58437c;
  }
  #busNumber,
  #busTime {
    font-weight: bold;
    font-size: 1.6em;
  }
  #busChannel,
  #busChannel_ty {
    font-size: 1.1em;
  }

  .subTitleBus {
    color: #221959;
    font-weight: bold;
    margin-bottom: 1em;
  }
  .busChannel1 {
    margin-bottom: 1em;
  }
  .subCategory {
    margin-right: 1em;
    color: #6d6d6d;
  }
  #firstTimeFromStartPoint,
  #lastTimeFromStartPoint,
  #termsFromStartPoint,
  #firstTimeFromEndPoint,
  #lastTimeFromEndPoint,
  #termsFromEndPoint,
  #busExpense,
  #busType,
  #busPath,
  #busCompany {
    color: #221959;
    font-weight: bold;
  }

  .blur-background {
    filter: blur(5px);
    transition: filter 0.3s ease;
  }
}





/* 태블릿 사이즈 */
@media (min-width: 768px) and (max-width: 1024px) {
    #home_poster,
  #home_lineup,
  #home_info {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(#3b2862, #2c2f74 25%, #999999);
  }



  /* 하위 카테고리 타이틀 */
  .titleBox {
    display: flex;
    align-items: center;
    position: relative;
    margin-left: 8vw;
  }
  .icon {
    height: 1.8em;
    width: auto;
    margin-right: 4vw;
  }
  .notice {
    margin-top: 18vh;
  }
  .vehicle {
    margin-top: 2vh;
  }
  .title {
    font-size: 2em;
    font-weight: bold;
    background: linear-gradient(to bottom, #ffffff, #ffe2bc);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    text-shadow: 0px 2px 4px rgba(255, 226, 188, 0.5);
  }



  /* 공지사항 리스트 */
  #noticeList {
    overflow-x: scroll;
    display: flex;
    margin: 1vw 8vw;
    height: 10vh;
    scrollbar-width: none;
  }
  
  #noticeList::-webkit-scrollbar {
    display: none;
  }
  
  #noticeList > li {
    width: 40vw;
    height: fit-content;
    background-color: rgba(217, 217, 217, 0.5);
    border-radius: 10px;
    margin-right: 4vw;
    flex: 0 0 40vw;
    padding: 2vw;
  }
  
  .noticeCategory {
    font-size: 1em;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #ffffff;
  }
  
  .noticeTitle {
    font-size: 1.1em;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #ffffff;
  }
  
  .noticeBody {
    font-size: 0.8em;
    color: #dfdfdf;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    white-space: normal;
  }



  /* 오시는 길 */
  #selectCampus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80vw;
    overflow: hidden;
    margin: 0 auto;
  }

  #campusContainer {
    display: flex;
    width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
  }

  .campus {
    min-width: 100%;
    text-align: center;
    padding: 20px;
    color: white;
    font-size: 1.6em;
  }

  #leftArrow, #rightArrow {
    width: 4vw;
    cursor: pointer;
    margin: 0 5vw;
  }

  .busInfo {
    height: fit-content;
    width: 80vw;
    transform: translate(-50%, -50%);
    position: relative;
    top: 50%;
    left: 50%;
  }
  .mapContainer {
    height: 53vw;
    width: 100%;
  }
  .mapContainer > img {
    height: 100%;
    width: 100%;
    border-radius: 5px;
  }
  .busInfoContainer {
    display: flex; 
    flex-direction: column; 
    gap: 1vw;
    margin-bottom: 2vw;
    margin-top: 2vw;
  }
  .busInfoContainer > div {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    width: 100%; 
  }

  .busInfoContainer > div > span {
    text-align: center; 
    display: inline-block; 
    min-width: 10vw; 
    color: #FFFFFF; 
    font-size: 1.2em;
  }

  .busInfoContainer > div span:last-child {
    max-width: 10vw; 
  }

  .spacer {
    flex-grow: 1; 
  }


  /* 모달 */
  .noticeModal, .busModal {
    display: none; 
    position: fixed;
    z-index: 1000;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); 
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .noticeModalContainer, .busModalContent {
    background-color: rgba(255, 255, 255, 1); 
    padding: 20px;
    border-radius: 10px;
    width: 50%;
    max-height: 70vh;
    overflow-y: auto;
    z-index: 1010; 
  }

  .noticeModalTitleBox {
    color: #58437c;
    font-size: 1.4em;
    font-weight: bold;
    margin-bottom: 2.5vh;
  }

  .noticeModalBody {
    line-height: 1.6em;
    color: #6d6d6d;
  }

  .busModalTitle {
    margin-bottom: 1em;
  }
  .busModalTitle > div {
    color: #58437c;
  }
  #busNumber,
  #busTime {
    font-weight: bold;
    font-size: 1.6em;
  }
  #busChannel,
  #busChannel_ty {
    font-size: 1.1em;
  }

  .subTitleBus {
    color: #221959;
    font-weight: bold;
    margin-bottom: 1em;
  }
  .busChannel1 {
    margin-bottom: 1em;
  }
  .subCategory {
    margin-right: 1em;
    color: #6d6d6d;
  }
  #firstTimeFromStartPoint,
  #lastTimeFromStartPoint,
  #termsFromStartPoint,
  #firstTimeFromEndPoint,
  #lastTimeFromEndPoint,
  #termsFromEndPoint,
  #busExpense,
  #busType,
  #busPath,
  #busCompany {
    color: #221959;
    font-weight: bold;
  }

  .blur-background {
    filter: blur(5px);
    transition: filter 0.3s ease;
  }
}

/* PC 사이즈 */
@media (min-width: 1025px) {
  .logoContainer, .menu-trigger, .hambergerContents, #home_poster, #home_lineup, #home_info, .busModal{
    display: none;
  }
}
