font-face {
  font-family: Prata;
}

.blankTop1 {
  display: flex;
  flex-direction: column;
  margin-top: 10vh;
}

.posterContainer {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  position: relative;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 100%;
  margin-bottom: 10vh;
}

#poster {
  position: relative;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 35vh;
  border-radius: 10%;
}

.ddayTop {
  margin-top: 3vh;
  display: flex;
  justify-content: center;
  font-family: Prata;
  align-items: center;
  flex-direction: column;
  z-index: 1;
  font-size: 5vw;
  color: #221959;
}

/* .dday {
  font-size: 5vh;
}

#countdown {
  font-size: 5vh;
  color: #221959;
} */

.countdownDay {
  margin-top: 2vh;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 10vw;
}
