<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/faq.css') }}">
    <script src="{{ url_for('static', path='js/faq.js') }}" defer></script>
</head>
<body>
    <div class="container">
        <header>
            <h1>FIESTA</h1>
            <p>2024.10.16.WED - 10.18.FRI</p>
        </header>
        <section class="faq-section">
            <h2>FAQ</h2>
            <div class="faq-item">
                <button class="faq-question" onclick="toggleAnswer(1)">Q1. 부스 참여하려면 미리 예약해야 하나요? ▼</button>
                <div class="faq-answer" id="answer-1">
                    개당 120g으로 1개로 충분합니다. 더욱 풍성한 개거품을 원하실 경우 1개 정도 더 이용하셔도 좋습니다!
                </div>
            </div>
            <div class="faq-item">
                <button class="faq-question" onclick="toggleAnswer(2)">Q2. 부스 참여하려면 미리 예약해야 하나요? ▼</button>
                <div class="faq-answer" id="answer-2">
                    내용이 여기에 들어갑니다.
                </div>
            </div>
            <div class="faq-item">
                <button class="faq-question" onclick="toggleAnswer(3)">Q3. 부스 참여하려면 미리 예약해야 하나요? ▼</button>
                <div class="faq-answer" id="answer-3">
                    내용이 여기에 들어갑니다.
                </div>
            </div>
        </section>
    </div>

    <script src="1.js"></script>
</body>
</html>