font-face {
  font-weight: 400;
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
}

.header {
  height: 50px;
  background-color: #f1f1f1;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
}
body {
  margin: 0;
  padding: 0;
  height: 100vh; /* Viewport height */
  display: flex;
  flex-direction: column;
  background: linear-gradient(to bottom, #3b2862, #2c2f74, #cbbce3);
}

.comment-section {
  position: fixed; /* 고정 위치 */
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to right bottom, #f0f0f0, #ffd0d0);
  padding: 10px;
  z-index: 990;
  width: 98vw;
  display: flex;
  align-items: center;
}

#comment-form {
  display: flex;
  width: 100%;
  align-items: center;
}

#comment-input {
  flex: 1;
  margin-right: 10px;
  border-radius: 15px;
  padding-top: 5px;
  padding-left: 2px;
}

button {
  background-color: #ededed;
  color: white;
  border: solid rgb(111, 111, 111) 1px;
  border-radius: 15px;
  cursor: pointer;
}

button:hover {
  background-color: #6b6592;
}

@media (max-width: 768px) {
  #comment-form {
    width: 100%;
    height: 8vh;
  }
  .text {
    padding: 15px;
    border: 1px solid black;
    border-radius: 0px 30px 30px 30px;
    margin-bottom: 10px;
    background: linear-gradient(to bottom, #f0f0f0, #ffc8c8);
  }

  .name {
    color: white;
  }

  .comment {
    display: block; /* 요소를 블록으로 설정하여 세로로 나열 */
    width: fit-content; /* 내용에 맞게 너비 조정 */
    max-width: 70vw; /* 최대 너비를 설정하여 화면의 70%를 넘지 않도록 제한 */
    position: relative;
    word-wrap: break-word; /* 긴 단어가 줄을 넘지 않도록 줄바꿈 처리 */
    padding: 8px; /* 텍스트 주변에 여백 추가 */
  }
  #hambuger {
    left: 82%;
    top: 4%;
    position: fixed;
  }

  #comment-input {
    width: 65%;
    height: 7vh;
    margin: 0;
    border-radius: 15px;
  }
  button {
    background-color: #ededed;
    color: white;
    border: solid rgb(86, 86, 86) 1px;
    border-radius: 15px;
    cursor: pointer;
    width: 15vw;
    height: 7vh;
    margin-left: 3vw;
    margin-right: 3vw;
    font-size: 7vw;
  }

  .noticec {
    border: none;
    border-radius: 10px;
    padding: 10px;
    width: 70vw;
    background-color: #6b6592;
    color: white;
    font-weight: 200;
    font-size: small;
  }
  .notice {
    left: 12vw;
    position: relative;
    width: 70vw;
    top: 17vh;
  }

  .noticetitle {
    color: white;
    font-weight: 200;
    font-size: 20px;
    margin-bottom: 1%;
  }

  #comments-container {
    width: 90%;
    height: 60vh;
    top: 30%;
    left: 10%;
    position: fixed;
    overflow-y: scroll;
    -ms-overflow-style: none;
  }

  ::-webkit-scrollbar {
    display: none;
  }
}

/* .empty {
  height: 20vh;
  width: 100vw;
  background-color: #a0c800;
} */
/* ------------------------------------------------------------------------------------------------- */

@media (min-width: 768px) {
  #logoImg {
    width: 50%; /* 로고의 부모 요소에 대한 너비 설정 */
  }

  #logoImg img {
    width: 100%; /* 내부의 img 태그에 너비 100% 설정 */
    height: auto; /* 비율 유지하면서 크기 조정 */
    margin-top: 15px;
  }

  #comment-form {
    width: 100%;
    height: 10vh;
  }
  #hambuger {
    left: 82%;
    top: 4%;
    position: fixed;
    width: 8vw;
  }
  .text {
    padding: 15px;
    border: 1px solid black;
    border-radius: 0px 30px 30px 30px;
    margin-bottom: 10px;
    background: linear-gradient(to bottom, #f0f0f0, #ffc8c8);
  }

  .name {
    color: white;
  }

  #hambuger {
    left: 90%;
    position: relative;
  }
  #comment-input {
    width: 82%;
    height: 8vh;
    border-radius: 20px;
    font-size: 40px;
    overflow: hidden;
  }

  button {
    background-color: #ededed;
    color: white;
    border: solid black 1px;
    border-radius: 25px;
    cursor: pointer;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
    width: 13vw;
    height: 8vh;
    padding: 10px;
    font-size: 7vw;
  }

  .noticec {
    border: none;
    border-radius: 10px;
    padding: 15px;
    width: 75vw;
    background-color: #6b6592;
    color: white;
    font-size: 40px;
    font-weight: 200;
  }
  .notice {
    left: 10%;
    position: relative;
    width: 72vw;
    top: 25vw;
  }

  .noticetitle {
    color: white;
    font-weight: 200;
    font-size: 50px;
    margin-bottom: 1%;
  }
  .comment {
    display: block; /* 요소를 블록으로 설정하여 세로로 나열 */
    width: fit-content; /* 내용에 맞게 너비 조정 */
    max-width: 70vw; /* 최대 너비를 설정하여 화면의 70%를 넘지 않도록 제한 */
    position: relative;
    word-wrap: break-word; /* 긴 단어가 줄을 넘지 않도록 줄바꿈 처리 */
    padding: 30px; /* 텍스트 주변에 여백 추가 */
    font-size: 40px;
    /* letter-spacing: 0.3vw; */
  }

  #comments-container {
    width: 90%;
    height: 53vh;
    top: 38%;
    left: 7%;
    position: fixed;
    overflow-y: scroll;
    -ms-overflow-style: none;
  }

  ::-webkit-scrollbar {
    display: none;
  }
  .text {
    padding: 30px;
  }
  /* .comment-section {
    border-top: 3px solid black;
  } */
}
