@font-face {
  font-weight: 400; /* 폰트의 두께 */
  font-family: 'Felixti'; /* 폰트 이름 */
  src: url('/static/font/Felixti.TTF') format('truetype');
}
@font-face {
  font-weight: 400;
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
}
/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ휴대폰 */
@media (max-width: 768px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center; /* 수직 중앙 정렬 */
    align-items: center; /* 수평 중앙 정렬 */
    min-height: 100vh; /* 전체 화면 높이 */
    margin: 0;
    font-family: 'pretendard', sans-serif;
    background: linear-gradient(to bottom, #2b2355, #4f4677);
    color: white;
    height: 100%;
    overflow: hidden;
  }
  
  .mainpage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin-top: 5vh;
  }
  
  .timetable {
    display: grid;
    grid-template-columns: 0.3fr 1fr 1fr 1fr;
    grid-template-rows: repeat(16, 40px);
    /* gap: 7px; */
    padding: 15px;
    padding-top: 0;
    padding-left: 0;
    margin: 0 auto; /* 수평 중앙 정렬 */
    width: 100%;
    overflow: scroll;
    height: 60vh;
  }
  
  

  .header {
    
    text-align: center;
    padding: 20px 0;

    font-size: 1rem;
    font-family: 'Felix Titling', sans-serif; /* Added font-family property */
    font-weight: 400; /* Regular font weight */
    /* margin-top: 50px; */
  }



  .times {
    display: grid;
    grid-template-rows: repeat(20, 40px); /* 시간도 동일한 행 크기를 공유 */
    align-items: center;
    justify-content: flex-end;
    gap: 0px;
  }
  
  .time-slot, .half-hour {
    height: 40px;
    display: flex;
    justify-content: flex-end; /* 시간 텍스트를 아래로 정렬 */
    align-items: flex-end; /* 세로로 텍스트를 아래로 내림 */
    padding-right: 5px; /* 텍스트와 경계선 사이 간격 조절 */
    /* border-bottom: 2px solid #f39ac8; */
  }
  
  .time-slot span {
    font-weight: 600;
    font-size: 10px; /* 시간 글자 크기 */
    color: #E2959C;
  }
  
  .half-hour span {
    font-size: 7px; /* '30' 글자 크기 */
    font-weight: 600;
    color: #E2959C;
  }
  
  .day-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: auto; */
    /* width: 1fr; */
    
    /* border-left: 3px solid #f39ac8; 세로선 제거 */
  }
  

  
  
  .day {
    text-align: center;
    font-weight: bold;
    color: #E2959C;
    padding-bottom: 20px;
    font-size: 10px; /* 요일 및 날짜 글자 크기 */
    height: 40px;

    }
  
    .events-day {
      display: grid;
      grid-template-rows: repeat(20, 40px);
      gap: 0px; /* 이벤트 사이 간격 제거 */
      padding-left: 0px; /* 수직선과 내용 사이의 간격 제거 */
      width: 100%; /* 부모 요소 너비와 맞춤 */
      box-sizing: border-box; /* 패딩 포함 너비 계산 */
  }
  
  /* 첫 번째 요소가 아닌 모든 div에 상단 테두리 적용 */
  .events-day > div:not(:first-child) {
      border-top: 3px solid #BCBCBC; /* 상단에 3px 두께의 회색 수평선 추가 */
  }
  
  .event {
      flex-direction: column;
      position: relative;
      display: flex;
      align-items: center; /* 내용 수직 중앙 정렬 */
      justify-content: center; /* 내용 수평 중앙 정렬 */
      padding: 10px; /* 내부 패딩 */
      font-size: 10px; /* 폰트 크기 */
      font-weight: bold; /* 폰트 두께 */
      cursor: pointer; /* 커서 스타일 */
      gap: 7px; /* 요소들 사이의 간격 */
      width: 100%; /* 전체 너비 */
      box-sizing: border-box; /* 패딩 포함 너비 계산 */
      /* border-radius: 10px; */
      color: #000000;
  }
  

  .event-time {
    position: relative;
    font-size: 7px !important;
    color: #000000 !important;
}

  /* .icon {
    width: 16px;
    height: 16px;
    margin-right: 8px;
} */
  /* img[alt="icon"] {
  width: 17px;
  height: 17px; */
/* } */
  #day1 {
    background-color: #BBB6D8; /* 53% 불투명도 */
  }

  .event#day2 {
    background-color: #E5A4D0;
  }

  .event#day3 {
    background-color: #F7E695;
  }

  .event:hover {
    background-color: #9a76d7;
  }
  
  /* Popup */
  .popup {
    display: flex; /* 부모 요소에 flexbox 적용 */
    position: fixed;
    z-index: 1500;
    width: 180%;
    height: 100%;
    bottom: 5%;
    /* background-color: rgba(0, 0, 0, 0.5); */
    justify-content: center;
    align-items: center;
    visibility: hidden;
    transform: translateX(100%); /* 오른쪽으로 이동 */
    transition: transform 0.4s ease, visibility 0.4s ease;
  }


  .popup-content {
    display: flex; 
    width: 23rem; 
    height: 16rem; 
    border-radius: 1.5rem; 
    overflow: hidden;
    
    backdrop-filter: blur(5px);
}
  .popup-left {
    background-color: #6442A0;
    padding: 1.2rem;
    text-align: right;
    color: white;
    width: 35%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 5px;
  }

  .popup-left #popup-title {
    font-size: 16px; /* 타이틀 폰트 크기 */
  }
  .popup-left #popup-time {
    font-size: 14px; /* 시간 폰트 크기 */
  }
  
  .popup-right {
    background-color: #B18FEB; 
    padding: 1.2rem;
    text-align: left;
    font-size: 14px;
    line-height: 1.6;
    color: white;
    width: 65%; 
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* 왼쪽 정렬 */

    max-height: 15rem;
    overflow-y: auto;
     /* 스크롤바 스타일 변경 */
    &::-webkit-scrollbar {
      width: 5px;
    }
    &::-webkit-scrollbar-thumb {
       background: #6442A0; 
       border-radius: 10px;
      }
  }

   .close-btn {
    position: fixed;
    top: 0.3rem;
    right: 0.8rem;
    background: none;
    border: none;
    font-size: 2em;
    color: #FEE5C6;
    cursor: pointer;
  }

  .popup .event {
    display: flex;
    align-items: center;
  }
  
  .event-icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
  
  .event-name {
    font-size: 1.2em;
    font-weight: bold;
  }
  
  .event-time {
    font-size: 0.9em;
    color: #e0e0e0;
  }
}




 /* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ여기서부턴 큰화면  */
 @media (min-width: 768px) {
  #logoImg {
    width: 50%; /* 로고의 부모 요소에 대한 너비 설정 */
}

  #logoImg img {
    width: 100%; /* 내부의 img 태그에 너비 100% 설정 */
    height: auto; /* 비율 유지하면서 크기 조정 */
    margin-top: 15px;
}
  body {
    display: flex;
    flex-direction: column;
    justify-content: center; /* 수직 중앙 정렬 */
    align-items: center; /* 수평 중앙 정렬 */
    min-height: 100vh; /* 전체 화면 높이 */
    margin: 0;
    font-family: 'pretendard', sans-serif;
    background: linear-gradient(to bottom, #2b2355, #4f4677);
    color: white;
    overflow: hidden;
  }
  
  .mainpage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin-top: 10vh;
  }
  
  .timetable {
    display: grid;
    grid-template-columns: 0.3fr 1fr 1fr 1fr;
    grid-template-rows: repeat(20, 40px);
    /* gap: 0px; */
    padding: 15px;
    padding-top: 0;
    padding-left: 0;
    margin: 0 auto; /* 수평 중앙 정렬 */
    width: 70%;
    height: 60vh;
  }
  
  .header {
    text-align: center;
    padding: 20px 0;
    font-size: 1rem;
    font-family: 'Felix Titling', sans-serif; /* Added font-family property */
    font-weight: 400; /* Regular font weight */
    /* margin-top: 50px; */
  }
  

  .times {
    display: grid;
    grid-template-rows: repeat(20, 40px); /* 시간도 동일한 행 크기를 공유 */
    align-items: center;
    justify-content: flex-end;
    gap: 0px;
  }
  
  .time-slot, .half-hour {
    height: 40px;
    display: flex;
    justify-content: flex-end; /* 시간 텍스트를 아래로 정렬 */
    align-items: flex-end; /* 세로로 텍스트를 아래로 내림 */
    padding-right: 5px; /* 텍스트와 경계선 사이 간격 조절 */
    /* border-bottom: 2px solid #f39ac8; */
  }
  
  .time-slot span {
    font-weight: 600;
    font-size: 10px; /* 시간 글자 크기 */
    color: #E2959C;
  }
  
  .half-hour span {
    font-size: 7px; /* '30' 글자 크기 */
    font-weight: 600;
    color: #E2959C;
  }
  
  .day-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 1fr; */
    
    /* border-left: 3px solid #f39ac8; 세로선 제거 */
  }
  

  
  
  .day {
    text-align: center;
    font-weight: bold;
    color: #E2959C;
    padding-bottom: 20px;
    font-size: 10px; /* 요일 및 날짜 글자 크기 */
    height: 40px;
    }
  
  .events-day {
      display: grid;
      grid-template-rows: repeat(20, 40px);
      gap: 0px; /* 이벤트 사이 간격 제거 */
      padding-left: 0px; /* 수직선과 내용 사이의 간격 제거 */
      width: 100%; /* 부모 요소 너비와 맞춤 */
      box-sizing: border-box; /* 패딩 포함 너비 계산 */
  }
  
  /* 첫 번째 요소가 아닌 모든 div에 상단 테두리 적용 */
  .events-day > div:not(:first-child) {
      border-top: 3px solid #BCBCBC; /* 상단에 3px 두께의 회색 수평선 추가 */
  }
  
  .event {
      flex-direction: column;
      position: relative;
      display: flex;
      align-items: center; /* 내용 수직 중앙 정렬 */
      justify-content: center; /* 내용 수평 중앙 정렬 */
      padding: 10px; /* 내부 패딩 */
      font-size: 10px; /* 폰트 크기 */
      font-weight: bold; /* 폰트 두께 */
      cursor: pointer; /* 커서 스타일 */
      gap: 7px; /* 요소들 사이의 간격 */
      width: 100%; /* 전체 너비 */
      box-sizing: border-box; /* 패딩 포함 너비 계산 */
      /* border-radius: 10px; */
      color: #000000;
  }

  .event-time {
    position: relative;
    font-size: 7px !important;
    color: #000000 !important;
}

  /* .icon {
    width: 16px;
    height: 16px;
    margin-right: 8px;
}
  img[alt="icon"] {
  width: 17px;
  height: 17px;
} */
  #day1 {
    background-color: #BBB6D8; /* 53% 불투명도 */
  }

  .event#day2 {
    background-color: #E5A4D0;
  }

  .event#day3 {
    background-color: #F7E695;
  }

  .event:hover {
    background-color: #9a76d7;
  }
  
  /* Popup */
  .popup {
    display: flex; /* 부모 요소에 flexbox 적용 */
    position: fixed;
    z-index: 1500;
    width: 180%;
    height: 100%;
    bottom: 5%;
    /* background-color: rgba(0, 0, 0, 0.5); */
    justify-content: center;
    align-items: center;
    visibility: hidden;
    transform: translateX(100%); /* 오른쪽으로 이동 */
    transition: transform 0.4s ease, visibility 0.4s ease;
  }


  .popup-content {
    display: flex; 
    width: 23rem; 
    height: 16rem; 
    border-radius: 1.5rem; 
    overflow: hidden;
    
    backdrop-filter: blur(5px);
}
  .popup-left {
    background-color: #6442A0;
    padding: 1.2rem;
    text-align: right;
    color: white;
    width: 35%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }

  .popup-left #popup-title {
    font-size: 16px; /* 타이틀 폰트 크기 */
  }
  .popup-left #popup-time {
    font-size: 14px; /* 시간 폰트 크기 */
  }
  
  .popup-right {
    background-color: #B18FEB; 
    padding: 1.2rem;
    text-align: left;
    font-size: 14px;
    line-height: 1.6;
    color: white;
    width: 65%; 
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* 왼쪽 정렬 */

    max-height: 15rem;
    overflow-y: auto;
     /* 스크롤바 스타일 변경 */
    &::-webkit-scrollbar {
      width: 5px;
    }
    &::-webkit-scrollbar-thumb {
       background: #6442A0; 
       border-radius: 10px;
      }
  }

   .close-btn {
    position: fixed;
    top: 0.3rem;
    right: 0.8rem;
    background: none;
    border: none;
    font-size: 2em;
    color: #FEE5C6;
    cursor: pointer;
  }

  .popup .event {
    display: flex;
    align-items: center;
  }
  
  .event-icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
  
  .event-name {
    font-size: 1.2em;
    font-weight: bold;
  }
  
  .event-time {
    font-size: 0.9em;
    color: #e0e0e0;
  }
} 

